:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: center;
  align-items: center;
  height: 100rem;
}
.board-field {
  display: none;
}
.board-grid {
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  grid-template-columns: repeat(8, 1fr);
}

.board-grid > div {
  width: 5rem;
  height: 5rem;
}
.board-container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}
.board-secondary {
  background-color: #535bf2;
}
.board-primary {
  background-color: bisque;
}

.board-text {
  display: grid;
  grid-template-columns: repeat(8, 5rem);
  text-align: center;
  padding-left: 1.5rem;
}

.board-numbers {
  display: flex;
  padding-right: 1rem;
  flex-direction: column;
  justify-content: space-between;
  grid-template-rows: repeat(8, 5rem);
}

.board-wrapper {
  display: flex;
}

.board-start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  button {
    margin: 2rem;
  }
  .blackbtn {
    background-color: #242424;
  }
  .whitebtn {
    background-color: antiquewhite;
    color: black;
  }
}
.timer-parent {
  display: flex;
  flex-direction: column;
  text-align: center;
  label {
    font-size: 1.5rem;
  }
  select {
    min-height: 2.5rem;
  }
  option {
    text-align-last: right;
  }
}

.board-footer {
  display: flex;
  flex-direction: row;
  margin-left: 2rem;
}
.countdown {
  display: flex;
  align-self: center;
}
.countdown-low {
  display: flex;
  align-self: center;
  padding-top: rem;
}
.pieces {
  min-height: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0;
  flex: 1;
  img {
    height: 2rem;
    width: 2rem;
  }
}

.dragging {
  opacity: 0.5;
}

.block {
  display: none;
}

.br {
  background-image: url("/pieces/rook-black.png");
}

.bp {
  background-image: url("/pieces/pawn-black.png");
}

.bn {
  background-image: url("/pieces/knight-black.png");
}

.bq {
  background-image: url("/pieces/queen-black.png");
}

.bb {
  background-image: url("/pieces/bishop-black.png");
}
.bk {
  background-image: url("/pieces/king-black.png");
}
.wr {
  background-image: url("/pieces/rook-white.png");
}

.wp {
  background-image: url("/pieces/pawn-white.png");
}

.wn {
  background-image: url("/pieces/knight-white.png");
}

.wq {
  background-image: url("/pieces/queen-white.png");
}

.wb {
  background-image: url("/pieces/bishop-white.png");
}

.wk {
  background-image: url("/pieces/king-white.png");
}

.br,
.bp,
.bn,
.bq,
.bb,
.bk,
.wr,
.wp,
.wn,
.wq,
.wb,
.wk {
  width: 100%;
  height: 100%;

  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

/* Base highlight class */
.highlight {
  position: relative;
}

/* Circle for empty squares */
.highlight::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%; /* adjust size */
  height: 30%;
  background-color: gray; /* semi-transparent green */
  border-radius: 50%;
  pointer-events: none; /* doesn't block clicks */
  transition: transform 0.2s ease, opacity 0.2s ease;
}
